
.mud-pivot-grid {
  @for $i from 1 through 6 {
    .mud-table-cell.td-#{$i} {
      color: var(--pivot-color-text);
      background: hsl(from var(--pivot-color) h s calc(l - ($i - 2) * 0.075));
    }
  }

  .measure-title, .corner {
    background-color: var(--mud-palette-background);
  }

  .mud-pivot-grid-sticky-header {
    position: sticky;
    top: 0;
  }

  .r-header {
   // position: sticky;
    //left: auto;
  }

  .mud-pivot-total {
  }

  .mud-table-cell {
    border-right: 1px solid var(--mud-palette-table-lines);
  }

  .mud-table-dense {
    padding: 6px 24px 6px 16px;
    padding-inline-start: 16px;
    padding-inline-end: 24px;
  }
}
