
.mud-pivot-grid {

  $ColHeaderBaseColor: var(--mud-palette-primary);
  $ColHeaderTextColor: var(--mud-palette-primary-text);

  $RowHeaderBaseColor: var(--mud-palette-secondary);
  $RowHeaderTextColor: var(--mud-palette-secondary-text);

  $BorderColor: #ddd;
  $measureTitleColor: hsl(from var(--mud-palette-primary) h s calc(l + 0.075));
  $measureTitleTextColor: var(--mud-palette-primary-text);

  @mixin Cell($CellColor, $TextColor) {
    color: $TextColor;
    background: $CellColor;
  }

  @mixin headerRowMixin($CellColor, $TextColor) {
    th {
      color: var(--mud-palette-primary-text);
    }

    .mud-pivot-column-title {
      background-color: hsl(from $CellColor h s calc(l - 5%));
    }

    .mud-table-cell {
      @include Cell($CellColor, $TextColor);
    }

    .mud-pivot-total {
      @include Cell(hsl(from $CellColor h s calc(l - 0.075)), $TextColor);
    }
  }

  .measure {
    // text-align: right;
  }

  .mud-pivot-row-title {
    @include Cell(hsl(from $RowHeaderBaseColor h s calc(l - 0.075)), $RowHeaderTextColor);
  }

  .mud-pivot-corner {
    //background-color: white;
  }



  tr.mud-pivot-head-row:nth-child(1) {
    @include headerRowMixin($ColHeaderBaseColor, $ColHeaderTextColor)
  }

  tr.mud-pivot-head-row:nth-child(2) {
    @include headerRowMixin(hsl(from $ColHeaderBaseColor h s calc(l + 0.075)), $ColHeaderTextColor);
  }

  tr.mud-pivot-head-row:nth-child(3) {
    @include headerRowMixin(hsl(from $ColHeaderBaseColor h s calc(l + 0.15)), $ColHeaderTextColor);
  }

  tr.mud-pivot-head-row:nth-child(4) {
    @include headerRowMixin(hsl(from $ColHeaderBaseColor h s calc(l + 0.075)), $ColHeaderTextColor);
  }

  .mud-pivot-measure-title {
    @include Cell($measureTitleColor, $measureTitleTextColor);
  }

  .mud-table-row {
    .ch--1 {
      @include Cell(hsl(from $RowHeaderBaseColor h s calc(l - 0.075)), $RowHeaderTextColor);
    }

    .ch-0 {
      @include Cell($RowHeaderBaseColor, $RowHeaderTextColor);
    }

    .ch-1 {
      @include Cell(hsl(from $RowHeaderBaseColor h s calc(l + 0.075)), $RowHeaderTextColor);
    }

    .ch-2 {
      @include Cell(hsl(from $RowHeaderBaseColor h s calc(l + 0.15)), $RowHeaderTextColor);
    }

    .ch-3 {
      @include Cell(hsl(from $RowHeaderBaseColor h s calc(l + 0.225)), $RowHeaderTextColor);
    }


    .rh-1 {
      @include Cell(hsl(from $ColHeaderBaseColor h s calc(l)), $ColHeaderTextColor);
    }

    .rh-2 {
      @include Cell(hsl(from $ColHeaderBaseColor h s calc(l + 0.075)), $ColHeaderTextColor);
    }

    .rh-3 {
      @include Cell(hsl(from $ColHeaderBaseColor h s calc(l + 0.15)), $ColHeaderTextColor);
    }

    .rh-4 {
      @include Cell(hsl(from $ColHeaderBaseColor h s calc(l + 0.225)), $ColHeaderTextColor);
    }

    .rh-5 {
      @include Cell(hsl(from $ColHeaderBaseColor h s calc(l + 0.3)), $ColHeaderTextColor);
    }


    .ch-3 {
      @include Cell(hsl(from $RowHeaderBaseColor h s calc(l + 0.225)), $RowHeaderTextColor);
    }

    .mud-pivot-total {
      //@include Cell(hsl(from $RowHeaderBaseColor h s calc(l - 0.1)), $RowHeaderTextColor);
    }
  }
}
